html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('.//images/body_background.png');
}

.warning {
  margin-top: 270px;
  width: 270px;
  text-align: center;
  color: darkgoldenrod;
  border-radius: 5px;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 37px 6px rgb(250, 194, 9);
  -moz-box-shadow: 0px 0px 37px 6px rgba(250, 194, 9);
  box-shadow: 0px 0px 37px 6px rgba(250, 194, 9);
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  color: aqua;
  opacity: .6;
  text-align: center;
}

.search {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 36px;
  padding: 15px;
  border-radius: 7px;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  color: aqua;
  opacity: .6;
  background-image: url('.//images/body_background.png');
  -webkit-box-shadow: 0px 0px 56px 20px rgba(102,117,110,1);
  -moz-box-shadow: 0px 0px 56px 20px rgba(102,117,110,1);
  box-shadow: 0px 0px 56px 20px rgba(102,117,110,1);
}

.card {
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  color: aqua;
}

.card__title {
  opacity: .6;
  font-size: 36px;
  text-align: center;
}

.card__sidebox {
  display: block;
}

#img {
  display: block;
  margin: 0 auto;
}

.countries-list {
  margin-left: 220px;
  padding: 10px;
  list-style: inside;
  opacity: .6;
}

.card__sidebox {
  width: 350px;
  margin: 0 auto;
  opacity: .6;
}

.countries {
  padding-left: 0;
  color: aqua;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  body {
    min-width: 360px;
    margin: 0;
  }

  h1 {
    margin-top: 100px;
    font-size: 28px;
  }

  .search {
    font-size: 20px;
    padding: 5px;
  }

  .card__sidebox {
    width: 300px;
  }

  .countries-list {
    margin-left: 0;
    list-style: inside;
    opacity: .6;
  }
}

@media screen and (min-width:480px) and (max-width:1024px) {
  body {
    margin: 0;
  }

  h1 {
    margin-top: 60px;
    font-size: 36px;
  }

  .search {
    font-size: 30px;
    padding: 10px;
  }

  .card__sidebox {
    width: 300px;
  }

  .countries-list {
    margin-left: 60px;
    list-style: inside;
    opacity: .6;
  }
  .warning {
    margin-top: 270px;
  }
}

